{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}
        com.draines/postal {:mvn/version "2.0.3"}
        io.forward/clojure-mail {:mvn/version "1.0.8"}
        commons-net/commons-net {:mvn/version "3.6"}
        clj-http/clj-http {:mvn/version "3.10.0"}
        cheshire/cheshire {:mvn/version "5.9.0"}
        clj-pdf/clj-pdf {:mvn/version "2.4.0"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}}

 :aliases
 {:run  {:main-opts ["-m" "invoices.core"]}

  :test {:extra-paths ["test"]
         :exec-fn test-runner/run
         :main-opts ["-m" "test-runner"]}}}
